<%- include('../partials/header') %>
<body class="show">
    <nav>
    <div class="collapse fs-5" id="navbarToggleExternalContent" >
      <div class="bg-dark p-7">
        <h5 class="text-white h6"></h5>
        <span class="text-muted fs-10;" class="navbar-header"></span>
        <a href="/">
          <img src="/images/TB-Logo.svg" width="40px" height="40px" alt="">
        </a>
        <% if (user) { %>
          <a href="/posts" <%- title === 'Chat' ? 'class="active"' : '' %>>Chat</a>
          <a href="/users">Profile</a>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN <img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <section class="edit-page">

<section class="edit-message" >
    <div>Edit Your Post</div><br>
    <!-- <div><%= post.title %></div> -->
    <div>Post:</div>
    <div><%= post.content %></div>
</section>


    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <textarea name="content" id="" cols="30" rows="5" value=""><%= post.content %></textarea>
        <button type="submit">Update</button>
      </form>
    </section>

<%- include('../partials/footer') %>