<%- include('../partials/header') %>

<h1><%= title %></h1>

<section>
    <div>Title:</div>
    <div><%= post.title %></div>
    <div>Post</div>
    <div><%= post.content %></div>
</section>

<h1>comment on a post</h1>
<form action=""></form>
<%- include('../partials/footer') %>