<%- include('../partials/header') %>
<body class="show">
    <nav>
    <div class="collapse fs-5" id="navbarToggleExternalContent" >
      <div class="bg-dark p-7">
        <h5 class="text-white h6">Collapsed content</h5>
        <span class="text-muted fs-10;" class="navbar-header">Toggleable via the navbar brand.</span>
        <a href="/">
          <img src="/images/TB-Logo.svg" width="25px" height="25px" alt="">
        </a>
        <% if (user) { %>
          <a href="/posts" <%- title === 'Chat' ? 'class="active"' : '' %>>Chat</a>
          <a href="/users">Profile</a>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN <img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

<section id="show-page">
    <div>Title:</div>
    <div><%= post.title %></div>
    <div>Post</div>
    <div><%= post.content %></div>
</section>

<h1>comment on a post</h1>
<form id="post-form" action="/posts/<%= post._id %>/comments"  method="POST">
    <textarea name="content" class="form-control border-success" id="" cols="10" rows="5" placeholder="Add your comment"></textarea>
    <button>submit</button>
</form>

<% if (post.comments.length) { %>
<table>
<thead>
<tr>
    <th>User</th>
    <th>Date</th>
    <th>Comment</th>
    <th></th>
    <th></th>
</tr>
</thead>
<tbody >
    <% post.comments.forEach(function(c) { %>
    <tr class="comment-user">
        <td class="align-baseline"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" height="40px" ><%= c.userName %></td>
        <td class="align-text-top"><%= c.createdAt.toLocaleDateString()%></td>
        <td class="align-middle"><%- c.content.replaceAll('\n', '<br>') %></td>
        <td>
            <% if (user?._id.equals(c.user)) { %>
                <form action="/comments/<%= c._id%>?_method=DELETE" method="POST">
                <button type="submit"><img src="/images/Trashcan.png" 
                    alt="Trashcan" width="30px" height="30px">
                </button>
                </form>
                <% } %>
        </td>
        <td>
        </td>
    </tr>
    <% }); %>
</tbody>
</table>
<% } else { %>
    <h5>No Comments Yet</h5>
    <% } %>
    <%- include('../partials/footer') %>