<%- include('../partials/header') %>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="#exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<h1><%= title %></h1>

<section>
    <div>Title:</div>
    <div><%= post.title %></div>
    <div>Post</div>
    <div><%= post.content %></div>
</section>

<h1>comment on a post</h1>
<form action="/posts/<%= post._id %>/comments"  method="POST">
    <textarea name="content" id="" cols="30" rows="10" value="Add your comment"></textarea>
    <button>submit</button>
</form>

<% if (post.comments.length) { %>
<table>
<thead>
<tr>
    <th>User</th>
    <th>Date</th>
    <th>Comment</th>
    <th></th>
    <th></th>
</tr>
</thead>
<tbody>
    <% post.comments.forEach(function(c) { %>
    <tr>
        <td><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></td>
        <td><%= c.createdAt.toLocaleDateString()%></td>
        <td><%- c.content.replaceAll('\n', '<br>') %></td>
        <td>
            <% if (user?._id.equals(c.user)) { %>
                <form action="/comments/<%= c._id%>?_method=DELETE" method="POST">
                <button type="submit"><img src="/images/Trashcan.png" 
                    alt="Trashcan" width="30px" height="30px">
                </button>
                </form>
                <% } %>
        </td>
        <td>
        </td>
    </tr>
    <% }); %>
</tbody>
</table>
<% } else { %>
    <h5>No Comments Yet</h5>
    <% } %>
    <%- include('../partials/footer') %>